<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd  
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">


	<context:component-scan base-package="com.hospital">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!--开启AOP自动代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- webService 服务工厂类 -->
	<!-- <bean id="registrationServiceFactory" class="com.hospital.pojo.stub.RegistrationService"></bean>  -->
	<bean id="registrationServiceFactory" class="com.hospital.tools.TestRegistrationService"></bean> 
	<bean id="registrationServiceSoap" factory-bean="registrationServiceFactory" factory-method="getRegistrationServiceSoap"></bean>
</beans>


