.main_pro_big{width:699px;border:1px solid #D1D1D1;background:#fff;padding:0 20px;overflow:hidden;}
.main_pro_big .title_wrap{width:663px;border-bottom:1px solid #dcdcdc;}
.r_pro .conh{ width: 687px; overflow: hidden;  text-align: left; margin: 0 auto; line-height: 17px;  padding-bottom: 10px; }
.r_pro .con strong{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
.r_pro .con_list{ color: #333; float: left; display: inline; margin-left: 20px;background: url(../images/aas.gif) no-repeat left 7px;width: 677px; overflow: hidden;  text-align: left; margin: 0 auto;margin-left: 9px; line-height: 17px; margin-top: 10px;  padding-bottom: 2px; }
.r_pro .con_list strong{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px;  }

.r_pro th{padding:3px; text-align: right; font-size: 12px; color: #666;}
.r_pro th{padding:3px; text-align: right;  font-size: 12px; color: #666;}
.r_pro td{padding-left: 5px; color: #333; }
.ri b{font-size:13px; height:30px; line-height:30px; text-align:left; display:block; }

.ri textarea{  width:530px; float: left; display: inline; height:155px; padding: 5px;  font-size: 12px;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD; font-family:Arial, Helvetica, sans-serif; }
.ri span{font-size:10px; color:#555555; text-align:right; width:535px; display:block; height:14px;}
.ri p{ height:25px; text-align:left;  display:block;}
.ri p a{height:24px; font-size:13px;  float:left; display:inline;   line-height:24px; font-weight:bold; text-align:center; padding:0 13px;border-left:#B5B5B5 solid 1px; border-right:#535353 solid 1px; }
.ri p a img{ margin-right: 5px; margin-top: 7px;}
span.star{color: red;}

.inquiry-text { margin-top: 3px;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;height: 22px;line-height: 22px;height: 20px;line-height: 20px;padding: 0 5px;}
.about_box { width:100%; overflow: hidden; float:left; display: inline;}
.about_content{ width: 100%; line-height: 24px; color: #555;}
.button2{width:105px;height:40px;border:none;background:url(../images/button.gif) no-repeat;cursor:pointer;}
.button2:hover{background:url(../images/button_a.gif) no-repeat;}
.error_box{background:url(../images/error_icon.gif) no-repeat 5px 5px;padding-left:30px;color:#CC0014;font-size:12px;}
.error_box_wrap{border: 1px solid #87d2e3;}
