.main_pro_big{width:699px;border:1px solid #D1D1D1;background:#fff;padding:0 20px;overflow:hidden;}
.main_pro_big .main_pro_top{height:42px;line-height:42px;padding-left:30px;font-weight:bold;color:#339143;background:url(../images/026.gif) no-repeat 10px center;font-size:14px;}
.main_pro_big .title_wrap{width:663px;border-bottom:1px solid #dcdcdc;}
.main_pro_big p{font-size:12px;line-height:26px;padding-left:10px;}
.main_pro_big .title_wrap h2{font-size:18px;font-weight:bold;text-align:center;height:35px;}
