.main_wrapR .main_pro_big .title_wrap{width:663px;border-bottom:1px solid #dcdcdc;}
.main_wrapR .main_pro_big .title_wrap h2{font-size:18px;font-weight:bold;text-align:center;height:35px;}

.box_title{background: #f7f7f7; padding-top: 5px; line-height: 18px; padding-bottom: 2px;  border-bottom: #e7e7e7 solid 1px; font-size: 10px; font-weight: bold; line-height: 20px; padding-left: 10px;font-size:14px;width:690px;margin:0 20px;}
.box_title h2{font-size:12px;font-weight:bold;color:#444;}
.box_title span{ font-weight: normal; color: #666; }

.box_c{ width: 330px; margin-left: 15px; float: left; display: inline; margin-top: 20px;  font-size: 12px; }
.box_c th{ width: 100px; text-align: left;}
.con_wrap{  padding:12px 15px; line-height: 24px;  font-size: 12px;}
.con_wrap .quality_box td{ padding: 10px;}
.r_pro .conh{ width: 687px; overflow: hidden;  text-align: left; margin: 0 auto; line-height: 17px;  padding-bottom: 10px; }
.r_pro .con strong{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
.r_pro .con_list{ color: #333; float: left; display: inline; margin-left: 20px;background: url(../images/aas.gif) no-repeat left 7px;width: 677px; overflow: hidden;  text-align: left; margin: 0 auto;margin-left: 9px; line-height: 17px; margin-top: 10px;  padding-bottom: 2px; }
.r_pro .con_list strong{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px;  }

.r_pro th{padding:6px 3px 3px 0; text-align: right; font-size: 12px; color: #666;}
.r_pro td{color: #555; line-height:28px;}
.ri b{font-size:13px; height:30px; line-height:30px; text-align:left; display:block; }
.ri textarea{  width:530px; float: left; display: inline; height:155px; padding: 5px;  font-size: 12px;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD; font-family:Arial, Helvetica, sans-serif; }
.big_pro_wrap{width:739px;border:1px solid #D1D1D1;background:#fff;}
.ri span{font-size:10px; color:#555555; text-align:right; width:535px; display:block; height:14px;}
.ri p{ height:25px; text-align:left;  display:block;}
.ri p a{height:24px; font-size:13px;  float:left; display:inline;   line-height:24px; font-weight:bold; text-align:center; padding:0 13px;border-left:#B5B5B5 solid 1px; border-right:#535353 solid 1px; }
.ri p a img{ margin-right: 5px; margin-top: 7px;}
span.star{color: red;}

.inquiry-text { margin-top: 3px;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;height: 22px;line-height: 22px;height: 20px;line-height: 20px;padding: 0 5px;}
.btn1{background:url(../images/send.gif) no-repeat;width:105px;height:40px;border:none;}
.main_pro_big { width:100%; overflow: hidden; float:left; display: inline;}
.main_pro_big .title{ background: url(../images/n_50.gif) no-repeat 0 8px ; height: 22px; margin-top: 5px; padding-left: 15px;}
.main_pro_big .title strong{ font-size: 16px;font-family: 'Microsoft YaHei', '微软雅黑';  }
.main_pro_big .title span{ font-size: 11px; color: #999;}
.main_pro_big{ width: 100%; line-height: 24px; color: #555;}
.button2{width:105px;height:40px;border:none;background:url(../images/button_a.gif) no-repeat;cursor:pointer;}
.button2:hover{background:url(../images/button.gif) no-repeat;}
.r_pro .card_wrap_wrap{background:#F7F7F7;border:1px solid #EFEFEF;width:330px;float:left;margin-left:9px;display:inline;padding:10px 0;}
.r_pro .card_wrap_wrap th{padding:3px 3px 3px 0;}