.news_wrap_s{width:739px;border:1px solid #D1D1D1;background:#fff;}
.news_wrap_s .news_detail{width:660px;overflow:hidden;padding:0 40px;border-bottom:1px dotted #dcdcdc;}
.news_wrap_s .news_detail h2 a{height:30px;font-weight:bold;color:#006BE2;font-size:14px;}
.news_wrap_s .news_detail p{color:#616161;line-height:18px;}
.news_wrap_s .news_detail p.date{color:#999;}
.news_wrap_s .news_detail .more a:link,.news_wrap_s .news_detail .more a:visited{color:#006be2;}
.news_wrap_s .button{width:88px;height:64px;background:none;border:none;background:url(../images/button.png) no-repeat 0 0;cursor:pointer;}
.news_wrap_s .button:hover{background:url(../images/button.png) no-repeat 0 -65px;}

.public_pages { height: 26px; padding: 4px 0; overflow: hidden;clear:both;text-align:right;padding-right:20px;}
.public_pages a{padding:5px 8px;margin-right:10px; border:#ccc solid 1px; height: 14px; line-height: 14px; text-decoration:none; background:#ffffff; color:#666; display: inline-block; }
.public_pages a.cur,.public_pages a:hover{ border:#ccc solid 1px; background:#f89808; color:#ffffff; }
