body{font-family:"Arial";font-size:12px;color:#000;font-family:'微软雅黑','宋体';margin:0;}
p,img,li,ul,dl,dt,dd,a,h1,h2,h3,h4{padding:0;margin :0;list-style:none;border:none;}

a{color:#333;text-decoration:none;}
a:hover{color:#ff3c18;text-decoration:underline;}

h2{font-weight:normal;font-size:12px; padding: 0; margin: 0;}
.hl_f{color:#fff}
.h1_f a{width:130px;height:38px;}
.hl_f a:link{ color:#fff; text-decoration: none;}
.hl_f a:visited{ color:#fff;  text-decoration: none}
.hl_f a:hover{ color:#fff; text-decoration: none;}
.cb_5,.cb_10,.cb_20,.cb_15,.cb_40{clear: both; width: 100%;overflow: hidden;}
.cb_5{ height: 5px;}
.cb_15{height: 15px;}
.cb_40{height: 40px;}
.cb_10{height: 10px;}
.cb_20{height: 20px;}
body{background:#F2F2F2 url(../images/bg.gif) repeat;}
.header{width:100%;background:url(../images/head_top_bg.gif) no-repeat 50% 45px;}
.head ,.menu_wrap .main_wrap, .banner_wrap,.news_wrap,.main_wrap, .footer{width: 950px; margin: 0 auto;clear:both;}
.head .flag .language{ width:135px;background:url(../images/flag.gif) no-repeat left center;padding-left:24px;line-height:23px;}
.head .tel{ height:44px;color:#EC7002;font-size:14px;font-weight:bold;}
.menu_wrap{height:37px;background:url(../images/head_bg.png) no-repeat;}
.menu_wrap ul{float:left;}
.menu_wrap ul li{ width:95px; height:37px;float:left; line-height:37px; position:relative;}
.menu_wrap  .xian{ display:inline-block; width:1px; height:37px; background:url(../images/line.gif) no-repeat;float:right;}
.menu_wrap li a{ display:inline-block; width:94px; height:37px; line-height:37px; text-align:center; font-size:13px; font-weight:bold;float:left; text-decoration:none;}
.menu_wrap li a:link,.menu_wrap li a:visited{ color:#fff;}
.menu_wrap li.menu_index { width:111px; background:url(../images/002.png) no-repeat;}
.menu_wrap li.menu_index:hover{ background:url(../images/002.png) no-repeat;}
.menu_wrap li.menu_index a{width:110px;padding-top:10px; height:27px;text-align:center;}
.menu_wrap li.cur{ background:url(../images/003.gif) no-repeat;}
.menu_wrap li:hover{ background:url(../images/003.gif) no-repeat;}
.menu_wrap .sear{border:none;float:right;width: 167px;height: 36px;verflow: hidden; background:url(../images/sear_bg.png) no-repeat center center;}
.menu_wrap .sear_text{background:none; border:none;width:106px; height:37px;line-height:37px;vertical-align: middle;padding-left:18px; color:#999; float:left;}
.menu_wrap .sear_btn{background:url(../images/sear.png) no-repeat 0 0; border:none; cursor:pointer;margin-top:10px;width:18px;height:22px;}
.menu2{position: absolute;text-align: left;z-index: 999; left: 396px; top:0px;height: auto;width:auto}
.menu2 dd{display: block; background: #4b4b4b;height: 37px;line-height: 37px;opacity: .80;filter: alpha(opacity=80);border-top: 1px solid #989898;border-bottom: 1px solid #343434;padding:0 23px;}
.menu2 dd:hover{ background:#000;}
.menu2 a{color:#fff;font-weight:bold;text-decoration:none;}
.mainL{width:197px;float:left;}
.mainL_wrap{background:url(../images/021.png) no-repeat;}
.mainL_wrap .mainL_t{height:29px;line-height:29px;font-size:13px;font-weight:bold;padding-left:18px;}
.mainL_wrap .content{width:179px;border:1px solid #cdcdcd; border-top:none;background:#fff;padding:10px 8px 16px;overflow:hidden;}
.mainL_wrap .content li{border:1px solid #e4e4e4; background:#f4f4f4;padding:7px 15px;margin-bottom:10px;line-height:16px;}
.mainL_wrap .content li.cur,.mainL_wrap .content li:hover{background:#ecf9ff;border:1px solid #d8f0fb;}
.mainL_wrap .content li a{text-decoration:none;display:block;background:url(../images/017.png) no-repeat 0 center;padding:0 10px 0 15px;}
.mainL_wrap_wrap .mainL_wrap .content{padding-top:20px;line-height:26px;}
.mainL_wrap_wrap .mainL_wrap .mainL_t{background:url(../images/023.png) no-repeat 16px center;}
.mainL_wrap .content p{padding:0 15px 0 35px;width:138px;}
.mainL_wrap .content p.icon_1{background:url(../images/018.png) no-repeat 10px -82px;}
.mainL_wrap .content p.icon_2{background:url(../images/018.png) no-repeat 10px -166px;}
.mainL_wrap .content p.icon_3{background:url(../images/018.png) no-repeat 10px -250px;}
.mainL_wrap .content p.icon_4{background:url(../images/018.png) no-repeat 10px -333px;}
.mainR{width:741px;float:right;}
.mainR{width:741px;float:right; overflow:hidden;}
.r_t{background:url(../images/024.png) no-repeat;width:741px;height:30px;line-height:30px;}
.r_t span{float:left;margin-left:55px;font-weight:bold;}
.r_t h2{display:inline-block;float:left;margin-left:55px;font-weight:bold;}
.r_t_r{float:right; text-align:right;margin-right:20px;}
.r_t_r h1{display:inline-block;font-size:12px;font-weight:normal;}

.public_pages { height: 26px; padding: 4px 0; overflow: hidden;clear:both;text-align:center;}
.public_pages a{padding:5px 8px;margin-right:10px; border:#ccc solid 1px; height: 14px; line-height: 14px; text-decoration:none; background:#ffffff; color:#666; display: inline-block; }
.public_pages a.cur,.public_pages a:hover{ border:#ccc solid 1px; background:#4980BD; color:#ffffff; }
.footer_menu{height:34px; line-height:34px;text-align:right;background:url(../images/019.png) no-repeat; padding-right:22px;}
.footer_menu a{margin-left:10px;}
.footer .youqing{height:42px;background:#f2f2f2; border:1px solid #B2AFAF; border-top:none;}
.footer .youqing p{ height:43px; line-height:43px;padding-left:34px; background:url(../images/017.png) no-repeat 22px center;}
.footer .youqing p a{margin-left:15px;color:#0695E3;}
.foot_content{text-align:center;color:#656565;}
a.fanhui{ display:block;width:14px;height:76px;background:url(../images/020.png) no-repeat;padding:35px 6px 0 ;position:fixed;left:86%;bottom:0;text-decoration:none;line-height:16px;}